@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Yesteryear&display=swap");
/* rgb(220, 104, 5) */
/* rgb(242, 205, 54) */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #e5d7cc;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-family: "Yesteryear", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

img {
  display: block;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .container {
    width: 100%;
  }
}

/*------- GLOBAL -------*/
/*---------------------------------*/
/* header */
header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 205, 54, 0.6)), to(rgba(220, 104, 5, 0.6))), url(../img/header.jpg);
  background-image: linear-gradient(to right, rgba(242, 205, 54, 0.6), rgba(220, 104, 5, 0.6)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 77vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  header {
    background-position: left center;
  }
}

header h1 {
  font-size: 7rem;
}

@media (max-width: 769px) {
  header h1 {
    font-size: 5rem;
  }
}

header h1 span {
  color: #fff;
}

header p {
  font-size: 1rem;
}

header a {
  text-transform: uppercase;
}

/* main */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 40px;
}

@media (max-width: 769px) {
  main {
    position: relative;
    padding-bottom: 0px;
  }
}

main section {
  margin-top: -200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

@media (max-width: 769px) {
  main section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

main section article {
  background-color: #fff;
  padding: 50px 40px;
}

main section article:nth-child(even) {
  background-color: #f7f7f7;
}

main section article p {
  margin-bottom: 20px;
}

main section article p:last-child {
  margin-bottom: 0;
}

main section article h2 {
  font-size: 2.5rem;
}

main section article h4 {
  display: inline-block;
  border: 1px solid #333;
  padding: 5px;
  font-weight: 400;
  letter-spacing: 1;
  margin: 10px 0;
}

main section article button {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 20px;
  padding: 10px 30px;
  color: #fff;
  background-color: #dc6805;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main section article button:hover {
  background-color: #333;
}

main aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin-top: -200px;
  padding: 40px;
  background-color: #f2cd36;
  position: relative;
}

@media (max-width: 769px) {
  main aside {
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

main aside .btnShow {
  display: none;
  background-color: #f2cd36;
  position: absolute;
  top: 0;
  right: 100%;
  font-size: 2rem;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

@media (max-width: 769px) {
  main aside .btnShow {
    display: block;
  }
}

main aside .btnShow i {
  line-height: 1.5em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main aside.showAside {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main aside.showAside i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main aside article {
  margin-top: 60px;
}

main aside input {
  padding: 10px;
  width: 200px;
}

main aside h3 {
  font-size: 1.5rem;
}

main aside p {
  line-height: 2;
}

main aside ul li {
  border-bottom: 1px solid #dc6805;
  font-size: 1rem;
}

main aside ul li:hover {
  color: #dc6805;
}

/* footer */
footer {
  background-color: #dc6805;
  padding: 40px;
  text-align: center;
}

footer p {
  color: #fff;
}

footer a {
  text-transform: uppercase;
}

/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/* navbar */
/*# sourceMappingURL=style.css.map */